<% #encoding: utf-8%>
<h1>Lista de Vcubs</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Placa</th>
    <th>Prestada</th>
    <th>Usuario Actual</th>
  </tr>
  </thead>
  <tbody>
  <% @vcubs.each do |vcub| %>
      <tr>
        <td><%= link_to vcub.id, vcub_path(vcub.id) %></td>
        <td><%=vcub.numero_identificacion %></td>
        <td><%=vcub.prestada %></td>
        <td><%=vcub.user_id %></td>

      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @vcubs %>
<br>
