<% #encoding: utf-8%>
<h1>Vcubs <%= " #{@vcub.numero_identificacion}" %></h1>

<table>
  <thead>
  <tr>
    <th>Id Vcub</th>
    <th>Prestada</th>
    <th>Usuario Actual</th>
    <th>Estación Actual</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=@vcub.numero_identificacion %></td>
        <td><%=@vcub.prestada %></td>

        <% if @vcub.user != nil %>
            <td><%=@vcub.user.email %></td>
        <% else %>
            <td>N/A</td>
        <% end %>

        <% if @vcub.estacion != nil %>
            <td><%=@vcub.estacion.nombre %></td>
        <% else %>
            <td>N/A</td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>
