<% #encoding: utf-8%>
<h1>Lista de emergencias</h1>

<table>
  <thead>
  <tr>
    <th>Id Tranvia</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Id</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Magnitud</th>
    <th colspan="7"></th>
  </tr>
  </thead>

  <% @emergencias.each do |emergencia| %>
      <tbody>
      <tr>
        <td><%= emergencia.tranvia_id %></td>
        <td><%= emergencia.latitud %></td>
        <td><%= emergencia.longitud %></td>
        <td><%= emergencia.id%></td>
        <td><%= emergencia.fecha%></td>
        <td><%= emergencia.tipo%></td>
        <td><%= emergencia.magnitud%></td>
      </tr>
      </tbody>
  <% end %>
</table>

<br>