<% #encoding: utf-8%>
<h1><%='Lista de sus reservas Sr(a)' + @cliente.email%></h1>

<table>

  <%= form_tag({:controller => 'reservas', :action => 'eliminar'}, :method => 'post') do %>
      <thead>
      <tr>
        <th> </th>
        <th>Fecha</th>
        <th>Direccion Origen</th>
        <th>Direccion Destino</th>
        <th>Estado </th>
        <th>Mobibus asignado</th>


      </tr>
      </thead>
      <tbody>
      <% @reservas.each do |reserva| %>
          <tr>
            <td><%= check_box_tag 'reservas[]',reserva.id %></td>
            <td><%=reserva.fecha%></td>
            <td><%=reserva.direccion_origen %></td>
            <td><%=reserva.direccion_destino %></td>
            <td><%=reserva.estado %></td>
            <% if  reserva.mobibus_id==0 %>
                <% if reserva.estado ==5 || reserva.estado ==6 %>
                <td><%="No se logró asignar un mobibus a su reserva. Lo sentimos"%></td>
                    <% else %>
                    <td><%='No tiene un mobibus asignado'%></td>
                    <%end%>
                <%else%>
                <%#TODO El find se debe hacer desde el controlador, no desde la vista.%>
                <%@mobibus=Mobibus.find(reserva.mobibus_id)%>
            <td><%=@mobibus.placa%></td>
                <%end%>
          </tr>
      <% end %>

      </tbody>
      </table>
      <%= paginate @reservas %>
      <p><%= submit_tag 'Cancelar'  %></p>
  <% end %>
  <br>

