<p><strong>Reserve su mobibus</strong></p>

<%= form_tag({:controller => "reservas", :action => "crear"}, :method => "get") do %>
    <p>
      Fecha:
      <%= date_field_tag 'fecha' %>
    </p>
    <p>
      Hora:
      <%= hidden_field_tag 'id', 3 %>
      <%=time_field_tag 'hora'%>
    </p>
    <p>
      Direccion de origen
    </p>
    <%= text_field_tag 'direccion_origen' %>
    <p>
      Direccion de destino
    </p>
    <%= text_field_tag 'direccion_destino' %>


    <p><%= submit_tag 'Inicia sesion'  %></p>
<% end %>