<% #encoding: utf-8%>
<h1>Lista de Usuarios</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>多Admin?</th>
    <th>多Empleado Vcub?</th>
    <th>多Conductor?</th>
    <th>多Cliente?</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user.id) %></td>
        <td><%=user.email %></td>
        <td><%=user.admin? %></td>
        <td><%=user.empleado_vcub? %></td>
        <td><%=user.conductor? %></td>
        <td><%=user.cliente? %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
