<% #encoding: utf-8%>
<h1>Usuario </h1>
<%= form_tag "/usuarios/#{@user.id}", method: 'put' do %>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Empleado Vcub</th>
    <th>Conductor</th>
    <th>Cliente</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=@user.id %></td>
        <td><%=@user.email %></td>
        <% if @user.admin? %>
            <td><%= check_box_tag 'admin','true',true %></td>
        <%else%>
            <td><%= check_box_tag 'admin','true',false %></td>
        <% end %>
        <% if @user.empleado_vcub? %>
            <td><%= check_box_tag 'empleado_vcub','true',true %></td>
        <%else%>
            <td><%= check_box_tag 'empleado_vcub','true',false %></td>
        <% end %>
        <% if @user.conductor? %>
            <td><%= check_box_tag 'conductor','true',true %></td>
        <%else%>
            <td><%= check_box_tag 'conductor','true',false %></td>
        <% end %>
        <% if @user.cliente? %>
            <td><%= check_box_tag 'cliente','true',true %></td>
        <%else%>
            <td><%= check_box_tag 'cliente','true',false %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<br><br>
    <p> <%= submit_tag 'Enviar cambios' %> </p>
<%end%>
