<h1>Lista de conductores</h1>

<table>
  <%= form_tag({:controller => 'conductores', :action => 'asignar_transportes1'}, :method => 'post') do %>
  <thead>
  <tr>
    <th> </th>
    <th>Id </th>
    <th>Email</th>
    <th>Puntaje</th>
    <th>Mobibus</th>
    <th>Tranvia</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @conductores.each do |conductor| %>
      <tr>
        <td><%= radio_button_tag 'conductores[]',conductor.id %></td>
        <td><%= conductor.id%></td>
        <td><%= conductor.email %></td>
        <td><%= conductor.puntaje %></td>
        <td><%= conductor.mobibus_id %></td>
        <td><%= conductor.tranvia_id %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= form_tag '/conductores' do %>
    <p>Asignar: </p>
    <p>Tranvia </p>
    <%= radio_button_tag 'tipo','tranvia',checked:true %>
    <br>
    <p>Mobibus</p>
    <%= radio_button_tag  'tipo', 'mobibus', checked: false %>
    <p><%= submit_tag 'Asignar transporte'  %></p>

      <% end %>
<%end %>
