<h1>Conductores</h1>
<p>Esta es la pagina de mobibuses. Desde aqui se pueden agregar nuevos mobibus y ver todos las ya existentes. </p>

<p><%= link_to 'Lista de conductores', action: 'index', method: 'get' %></p>

<hr>

<%= form_tag '/conductores' do %>
    <p>Asignar: </p>
    <p>Tranvia </p>
    <%= radio_button_tag 'tipo','tranvia',checked:true %>
    <br>
    <p>Mobibus</p>
    <%= radio_button_tag  'tipo', 'mobibus' %>
    <p><%= submit_tag 'Asignar_transporte'  %></p>
<% end %>