<% #encoding: utf-8%>
<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li><a href="#">Páginas</a>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="">Objetivos</a></li>
        </ul>
      </li>

      <li><%= link_to 'Conductores' %>
      <ul>
      <li><%= link_to 'Inicio', conductores_inicio_path %></li>
      <li><%= link_to 'Lista conductores', conductores_path %></li>
      </ul>
      </li>
      <li><%= link_to 'Mobibuses',  mobibuses_path %>
      <ul>
        <li><%= link_to 'Inicio', mobibuses_inicio_path %></li>
        <li><%= link_to 'Lista mobibuses', mobibuses_path %></li>
      </ul>
      </li>
      <li><%= link_to 'Tranvías'%>
      <ul>
        <li><%= link_to 'Inicio', tranvias_inicio_path %></li>
        <li><%= link_to 'Lista de tranvias', tranvias_path %></li>
      </ul>
      </li>
      <li><%= link_to 'Vcubs',  vcubs_path %></li>
      <li><%= link_to 'Trayectos', trayectos_path %>
      </li>
      <li><%= link_to 'Estaciones',  estaciones_inicio_path %>
        <ul>
          <li><%= link_to 'Inicio', estaciones_inicio_path %></li>
          <li><%= link_to 'Lista estaciones', estaciones_path %></li>

        </ul>
      </li>
      <li><%= link_to 'Reservas', reservas_inicio_path %></li>
    </ul>
  </div>
</nav><!-- end of top nav -->