<% #encoding: utf-8%>
<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li><a href="#">Páginas</a>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><%= link_to 'Lista emergencias', emergencias_path%></li>
        </ul>
      </li>

      <li><%= link_to 'Conductores',  conductores_path %></li>
      <li><%= link_to 'Mobibuses',  mobibuses_path %></li>
      <li><%= link_to 'Tranvías',  tranvias_path %></li>
      <li><%= link_to 'Vcubs',  vcubs_path %>
        <ul>
          <li> <%= link_to 'Prestamos', prestamos_path %></li>
        </ul>
      </li>

      <li><%= link_to 'Estaciones',  estaciones_inicio_path %>
        <ul>
          <li><%= link_to 'Inicio', estaciones_inicio_path %></li>
          <li><%= link_to 'Lista estaciones', estaciones_path %></li>

        </ul>
      </li>
    </ul>
  </div>
</nav><!-- end of top nav -->