<% #encoding: utf-8%>
<nav><!-- top nav -->
  <div class="menu">
    <ul>

      <% if user_signed_in? %>
          <!-- Agregar aquí las pestañas que puede ver un cliente -->

          <% if current_user.admin? %>
              <li><%= link_to 'Conductores', conductores_path  %>

              </li>

              <li><%= link_to 'Mobibuses',  mobibuses_inicio_path %>
                <ul>
                  <li><%= link_to 'Inicio', mobibuses_inicio_path %></li>
                  <li><%= link_to 'Lista mobibuses', mobibuses_path %></li>
                </ul>
              </li>

              <li><%= link_to 'Vcubs',   vcubs_inicio_path%>
                <ul>
                  <li><%= link_to 'Inicio', vcubs_inicio_path %></li>
                  <li><%= link_to 'Lista de Vcubs', vcubs_path %></li>
                </ul>
              </li>

              <li><%= link_to 'Estaciones Vcub',  estaciones_inicio_path %>
                <ul>
                  <li><%= link_to 'Inicio', estaciones_inicio_path %></li>
                  <li><%= link_to 'Lista estaciones', estaciones_path %></li>
                </ul>
              </li>

              <li><%= link_to 'Tranvías', tranvias_inicio_path%>
                <ul>
                  <li><%= link_to 'Inicio', tranvias_inicio_path %></li>
                  <li><%= link_to 'Lista de tranvias', tranvias_path %></li>
                </ul>
              </li>

              <li><%= link_to 'Reportes', reportes_path %>
                <ul>
                  <li><%= link_to 'Inicio', reportes_path %></li>
                  <li><%= link_to 'Lista reportes', reportes_index_path %></li>
                </ul>
              </li>

              <li> <%= link_to 'Otros'  %>
                <ul>
                  <li><%= link_to 'Trayectos', trayectos_path %></li>
                  <li><%= link_to 'Reservas', reservas_inicio_path %></li>
                  <li><%= link_to 'Emergencias', emergencias_path %></li>
                  <li><%= link_to 'Prestamos Vcubs', prestamos_path %></li>
                  <li><%= link_to 'Permisos', usuarios_path %></li>
                </ul>
              </li>

          <%elsif current_user.empleado_vcub? %>
              <li><%= link_to 'Vcubs',   vcubs_inicio_path%>
                <ul>
                  <li><%= link_to 'Inicio', vcubs_inicio_path %></li>
                  <li><%= link_to 'Lista de Vcubs', vcubs_path %></li>
                </ul>
              </li>

              <li><%= link_to 'Estaciones Vcub',  estaciones_inicio_path %>
                <ul>
                  <li><%= link_to 'Inicio', estaciones_inicio_path %></li>
                  <li><%= link_to 'Lista estaciones', estaciones_path %></li>
                </ul>
              </li>
          <%elsif current_user.cliente? %>
              <li><%= link_to 'Reservas',  reservas_path %>
                <ul>
                  <li><%= link_to 'Crear reserva', reserva_path %></li>
                  <li><%= link_to 'Lista de reservas', reservas_path %></li>
                </ul>
              </li>


          <% end %>
          <!-- Fin pestañas ezclusivas de admin-->

          <li><%= button_to('Salir', destroy_user_session_path, method: 'delete') %></li>

      <% else %> <!-- Pestañas para sujetos no autenticados-->
          <li><%= link_to('Iniciar Sesión', new_user_session_path)  %></li>
      <% end %>
    </ul>
  </div>
</nav><!-- end of top nav -->

<% if user_signed_in? %>
    <p>
      Conectado cómo <i><%=  current_user.email %>.</i>
      <% if current_user.admin? %>
        Privilegios de Administrador.
      <% end %>
      <% if current_user.empleado_vcub? %>
          Privilegios de Empleado Vcubs
      <% end %>
    </p>
<% end %>

