<h1>Listing mobibuses</h1>

<table>
  <thead>
  <tr>
    <th>Placa</th>
    <th>Estado</th>
    <th> Latitud</th>
    <th> Longitud</th>
    <th> Kilometros desde última revisión</th>
    <th> Id_Conductor</th>
    <th>Id</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @mobibues.each do |mobibus| %>
      <tr>
        <td><%= mobibus.placa %></td>
        <td><%= mobibus.estado %></td>
        <td><%= mobibus.latitud %></td>
        <td><%= mobibus.longitud%></td>
        <td><%= mobibus.kilometer_desde_revision %></td>
        <td><%= mobibus.id_conductor %></td>
        <td><%= mobibus.index %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
