<h1>Listing mobibuses</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Placa</th>
    <th>Estado</th>
    <th> Latitud</th>
    <th> Longitud</th>
    <th> Kilometros desde ultima revision</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @mobibuses.each do |mobibus| %>
      <tr>
        <td><%= link_to mobibus.id, mobibus_path(mobibus.id) %></td>
        <td><%= mobibus.placa %></td>
        <td><%= mobibus.estado %></td>
        <td><%= mobibus.latitud %></td>
        <td><%= mobibus.longitud%></td>
        <td><%= mobibus.kilometer_desde_revision %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
