<% #encoding: utf-8%>
<h1>Mobibus</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Placa</th>
    <th>Estado</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Kilómetros desde última revisión</th>
    <th>Conductor</th>
    <th colspan="7"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @mobibus.id %></td>
        <td><%= @mobibus.placa %></td>
        <td><%= @mobibus.estado %></td>
        <td><%= @mobibus.latitud %></td>
        <td><%= @mobibus.longitud%></td>
        <td><%= @mobibus.kilometer_desde_revision %></td>
        <% if  @conductor == nil %>
            <td>N/A</td>
        <% else %>
            <td><%=@conductor.email %></td>
        <% end%>
      </tr>
  </tbody>
</table>