<% #encoding: utf-8  %>
<h1>Tranvías</h1>
<p>Esta es la página de tranvías. Desde aquí se pueden agregar nuevos tranvías y ver todos los ya existentes. </p>



<hr>

<p><strong>Crear un nuevo tranvía </strong></p>
<%= form_tag '/tranvias' do %>

    <p>
      Número de identificación:
      <%= number_field_tag 'numero_identificacion' %>
    </p>

    <p>
      Línea:
      <br>
     1 <%= radio_button_tag 'linea',1,checked:true %> <br>
     2 <%= radio_button_tag  'linea',2 %> <br>
      3 <%= radio_button_tag  'linea',2 %> <br>
    </p>


    <p><%= submit_tag 'Crear'  %></p>
<% end %>
