<!DOCTYPE html>
<% #encoding: utf-8%>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>TBC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper"><!-- #wrapper -->

  <header><!-- header -->
    <h1><%= link_to 'TBC', paginas_home_path %></h1>


    <ul>
      <h2>Transporte para ti y para mí</h2>
      <li><%= link_to 'Sign_in', clientes_signin_path %></li>
      <li><%= link_to 'Registrarse',clientes_inicio_path %></li>
    </ul>
    <%= image_tag 'tbc.png', size: '940x200', alt: "Lagarto's a cowboy"  %>
    <!--<img src="images/cowboyup.jpg" width="940" height="200" alt=""><!-- header image -->
  </header><!-- end of header -->

  <%= render :partial => 'shared/nav' %>

  <section id="main"><!-- #main content and sidebar area -->
    <section id="container"><!-- #container -->
      <section id="content"><!-- #content -->

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

      </section><!-- end of #content -->
    </section><!-- end of #container -->

  </section><!-- end of #main content and sidebar-->

  <footer>
    <section id="footer-area">

      <section id="footer-outer-block">
        <aside id="first" class="footer-segment">
          <h3>Referencias</h3>
          <ul>
            <li><a href="http://www.uniandes.edu.co">Universidad de los Andes</a></li>
            <li><a href="http://www.sistemas.uniandes.edu.co">Ingeniería de Sistemas</a></li>
            <li><a href="https://sistemasacademico.uniandes.edu.co/~isis2503/dokuwiki/doku.php">Wiki del curso</a></li>
            <li><a href="http://api.rubyonrails.org">Api de Rails</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLSXDqiI4sC5PsASjJy7dBncALnhjud2fx">Dave Jones</a></li>
          </ul>
        </aside><!-- end of #first footer segment -->

        <aside id="second" class="footer-segment">
          <h3>Buenas cosas</h3>
          <ul>
            <li><a href="http://freehtml5templates.com">Free HTML 5 templates</a></li>
            <li><a href="https://github.com/plataformatec/">Wiki Devise</a></li>
            <li><a href="https://github.com/joalri24/JJACS">Repositorio</a></li>
          </ul>
        </aside><!-- end of #second footer segment -->

        <aside id="third" class="footer-segment">
          <h3>Coolness</h3>
          <ul>
            <li><a href="#">one linkylink</a></li>
            <li><a href="#">two linkylinks</a></li>
            <li><a href="#">three linkylinks</a></li>
            <li><a href="#">four linkylinks</a></li>
            <li><a href="#">five linkylinks</a></li>
          </ul>
        </aside><!-- end of #third footer segment -->

        <aside id="fourth" class="footer-segment">
          <h3>Resumen</h3>
          <p>Proyecto del curso 'Arquitecura y Diseño de Software', segundo semestre del 2015. Grupo JJACS: Andrea Navas, Camilo forero, Sebastián y Santigo</p>
        </aside><!-- end of #fourth footer segment -->

      </section><!-- end of #footer-outer-block -->

    </section><!-- end of #footer-area -->
  </footer>

</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->

</body>
</html>
